# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives__
- List popular languages for Data Science
- Some of the commonly used libraries used by Data Scientists
- Data Science Tools
- simple arithmetic expression to mutiply then add integers

Some of the popular languages that Data Scientists use are:
1. Python
2. MySQL
3. C++
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Seaborn
4. dplyr
5. Numpy

| Data Science Tools |
| ------------------- |
| Jupyter Notebooks   |
| R Studio            |
| Apache Zeppelin     |

### Below are a few examples of evaluating arithmetic expressions in Python
- 3*5=15
- 4+6=10

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200/60

3

## Author
Akinwunmi Sodiq